

 @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&family=Poppins:ital,wght@0,400;1,200&family=Questrial&family=Roboto&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Questrial", sans-serif;
  scroll-behavior: smooth;
  color-scheme: light;

}


.hash-span {
  margin-top: -100px;
  padding-bottom: 100px;
  display: block;
}



body{

  background: linear-gradient(315deg, #FFF 2.09%, #DBDBDB 100%);
  background-repeat: no-repeat;
  background-attachment: fixed;
  
}

h1{

  font-size: unset;
}


.video-js {
   
   width: 700px;
   height:  auto; 
   aspect-ratio: 16/9; 
   display: block; 
   margin: 0 auto; 

}